<button (click)="this.router.navigateByUrl('')">Back to Courses</button>
<div *ngIf="selectedCourse">

<h1>{{selectedCourse.title}}</h1>

<div><span class="inline-title">Description:</span>  {{selectedCourse.description}}</div>
<div><span class="inline-title">Book Info:</span>    {{selectedCourse.bookInfo}}</div>
<div><span class="inline-title">Meeting Time:</span> {{selectedCourse.meetingTime}}</div>

<div class="title">Calendar</div>
<table>
	<tr *ngFor="let day of selectedCourse.calendar">
		<td>{{day}}</td>
	</tr>
</table>

<div class="title">Grading Scale</div>
<table>
	<tr *ngFor="let grade of selectedCourse.gradingScale">
		<td>{{grade}}</td>
	</tr>
</table>

<div class="title">University Information</div>
<p>{{selectedCourse.universityInfo}}</p>

</div>
<div *ngIf="!selectedCourse">
No course selected.
</div>

<div *ngIf="courseSections">
  <app-section-selector [sections]="courseSections" [course]="courseTitle"></app-section-selector>
</div>
