<h3>
  Assignment name: {{assignmentName|async}}
</h3>
<h3>
  Section: {{sectionName|async}}
</h3>
<div class="alerts">
  <label class="alert-success" *ngIf="postSuccess">Assignment Submitted</label>
  <label class="alert-danger" *ngIf="error">Error Submitting Assignment.</label>
  <label class="alert-danger" *ngIf="error"> {{errorReason}}</label>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="assForm">
  <div class="form-group">
    <label>Assignment Name</label>
    <input type="text" class="form-control" formControlName="assName" [ngModel]="(assignmentName|async)" readonly>
  </div>
  <div class="form-group">
    <label>Section</label>
    <input type="text" class="form-control" formControlName="secName"  [ngModel]="(sectionName|async)" readonly>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
  </div>
  <div class="form-group">
    <label>Text Box</label>
    <textarea type="text" class="form-control text-area" formControlName="textArea" [ngClass]="{ 'is-invalid': submitted && f.textArea.errors }"></textarea>
      <div *ngIf="submitted && f.textArea.errors" class="invalid-feedback">
        <div *ngIf="f.textArea.errors.required">Text Area is required</div>
      </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
  <button (click)="goBack()" class="btn">Exit</button>
</form>
