<h3>
  Quiz name: {{quizName}}
</h3>
<h3>
  Section: {{courseSection}}
</h3>
<div class="alerts">
  <label class="alert-success" *ngIf="postSuccess">Quiz Submitted</label>
  <label class="alert-danger" *ngIf="error">Error Submitting Quiz.</label>
  <label class="alert-danger" *ngIf="error"> {{errorReason}}</label>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="assForm" *ngIf="!loading">
  <div class="form-group">
    <label>Quiz Name</label>
    <input type="text" class="form-control" formControlName="assName" [ngModel]="quizName" readonly>
  </div>
  <div class="form-group">
    <label>Section</label>
    <input type="text" class="form-control" formControlName="secName"  [ngModel]="courseSection" readonly>
  </div>

  <div class="form-group">
    <label>Questions</label>
    <div class="question" *ngFor="let quesiton of quizQuestions">

      <div *ngFor="let q of quesiton.options">
        <input type="radio">
      </div>
    </div>
    <!--<textarea type="text" class="form-control text-area" formControlName="textArea" [ngClass]="{ 'is-invalid': submitted && f.textArea.errors }"></textarea>-->
      <!--<div *ngIf="submitted && f.textArea.errors" class="invalid-feedback">-->
        <!--<div *ngIf="f.textArea.errors.required">Text Area is required</div>-->
      <!--</div>-->
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
  <button (click)="goBack()" class="btn">Exit</button>
</form>
