<h3>
  Quiz name: {{quizName}}
</h3>
<h3>
  Section: {{courseSection}}
</h3>
<div class="alerts">
  <label class="alert-success" *ngIf="postSuccess">Quiz Submitted</label>
  <label class="alert-danger" *ngIf="error">Error Submitting Quiz.</label>
  <label class="alert-danger" *ngIf="error"> {{errorReason}}</label>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="quizForm" *ngIf="!loading">
  <div class="form-group">
    <label>Quiz Name</label>
    <input type="text" class="form-control" formControlName="quizName" [ngModel]="quizName" readonly>
  </div>
  <div class="form-group">
    <label>Section</label>
    <input type="text" class="form-control" formControlName="secName"  [ngModel]="courseSection" readonly>
  </div>

  <!--<div class="form-group">-->
    <!--<h1>Questions</h1>-->
    <!--<div class="question" *ngFor="let question of quizQuestions">-->
      <!--<h3>{{question.questionName}}</h3>-->
      <!--<div *ngFor="let q of question.options">-->
          <!--<input type="radio" id="{{question}}" name="{{question.questionName}}" value="huey" formControlName="{{question.questionName}}">-->
          <!--<label for="{{question}}">{{q}}</label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <button type="submit" class="btn btn-success">Submit</button>
  <button (click)="goBack()" class="btn">Exit</button>
</form>
