/*#footer{
  position: absolute;
  bottom: 0px;
}
*/
.container_wrap.socket_color{
  background-color: rgb(32,32,32);
}
.copyright{
  color: white;
}
.copyright.social-navigation{
  background-color: white;

}

